/* MODAL */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	height: 100%;
	width: 100%;
	padding: 1rem;
	background: rgba(2, 2, 2, 0.678);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms ease-in-out;
}
.open {
	opacity: 1;
	visibility: visible;
}
/* FORM */
.form {
	width: 100%;
	max-width: 600px;

	padding: 1rem;

	background: rgb(248, 246, 246);
	border-radius: 0.5rem;
	transform: translateY(-100vh);
	transition: 300ms;
}
.openForm {
	transform: translateY(0);
	transition-delay: 300ms;
}
.formTitle {
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 1rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;

	background: rgb(250, 238, 241);
	padding: 0.875rem;
	border-radius: 0.3rem;

	margin-bottom: 1rem;
}

.input {
	font-size: 0.875rem;
	color: #161b16;
	width: 100%;
}
.label {
	font-size: 0.8rem;
	color: rgb(150, 150, 150);
}
.textarea {
	resize: vertical;
}
.btnContainer {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.error {
	color: #c00c00;
	font-size: 0.875rem;
}

.formBtn {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.formBtn:hover {
	background: rgba(201, 198, 198, 0.781);
}

@media screen and (min-width: 480px) {
	.formTitle {
		font-size: 1.5rem;
	}
	.label {
		font-size: 0.875rem;
	}
	.input {
		font-size: 1rem;
	}
}
